.content{
    width: 1683px;
    height: 567px;
    margin-left: 76px;
    margin-right: 74px;
    display: inline-block;
    position: relative;
}

.content_left{
    width: 661px;
    height: 477px; 
    margin-right: 27px;
    display: inline-block;

}

.content_left img{
    width: 661px;
    height: 477px;
    display: inline-block;
}

.content_right{
    width: 1022px;
    height: 567px;
    position: absolute;
    display: inline-block;
}

.cotent_column{
    width: 317px;
    height: 273px;
    margin-right: 26px; 
    margin-bottom: 25px;
    float: left;
}

.cotent_column img{
    width: 317px;
    height: 177px;
}

.cotent_column p{
    font-size: 18px;
    margin-top: 19px;
}

.cotent_column ul li{
    list-style: none;
    float: left;
}
