.menu{
    width: 1677px;
    height: 85px;
    /* background: yellow; */
    margin:26px 76px 31px 80px;
    display: inline-block;
}

.menu_left{
    width:231px;
    height: 85px;
    margin-right: 39px;
    float: left;
    /* display: inline-block; */
}

.menu_left ul li{
    font-size: 18px;
    line-height: 85px;
    margin-right: 55px;
    text-align: center;
    list-style: none;
    float: left;
    cursor: pointer;
}

.menu_center{
    width: 1100px;
    height: 85px;
    display: inline-block;
}

.menu_center ul li{
    list-style: none;
    float: left;
    width: 89px;
    height: 35px;
    background-color:#f6f7f8;
    margin-right: 12px;
    font-size: 18px;
    text-align: center;
    line-height:35px;
    border-radius: 8px;
    cursor: pointer;

}

.menu_center_top{
    margin-bottom: 14px;
}


.menu_right{
    width:305px ;
    height: 85px;
    float:right;
    border-width: 0 0 0 1px;
    border-color:#e3e5e7;
    border-style: solid;
}

.menu_right ul li{
    line-height:35px;
    font-size: 18px;
    margin-left: 50px;
    list-style: none;
    float: left;
    cursor: pointer;
}

.menu_right_top{
    margin-bottom:14px;
}
